* {
    margin: 0;
    padding: 0;
}

div {
    width: 900px;
    height: 500px;
    margin: auto;
    margin-top: 15px;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}